<app-produccion-malla-index [produccionMallaState]="produccionMallaState" *ngIf="produccionMallaState.location === 'index'"></app-produccion-malla-index>
<app-produccion-malla-create-individual [produccionMallaState]="produccionMallaState" *ngIf="produccionMallaState.location === 'create-individual'"></app-produccion-malla-create-individual>
<app-produccion-malla-create-grupal [produccionMallaState]="produccionMallaState" *ngIf="produccionMallaState.location === 'create-grupal'"></app-produccion-malla-create-grupal>
