<div align="end">
  <button mat-icon-button size="small" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<h1 mat-dialog-title>
  {{ data.name }}
</h1>
<form (submit)="onOnSubmit()" [formGroup]="dataGroup">
  <div mat-dialog-content>
    <p>Ingrese la Fecha de entrega</p>
    <div class="form-group">
      <label>Fecha Entrega</label>
      <input
        #inputFechaEntrega
        class="form-control"
        formControlName="fecha_entrega"
        type="date"
      />
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <!--<button mat-button (click)="onNoClick()">Cancelar</button>-->
    <button
      mat-button
      mat-raised-button
      color="primary"
      [disabled]="dataGroup.invalid"
      type="submit"
    >
      Entregar
    </button>
  </div>
</form>
